# Django
SECRET_KEY=tu-clave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos PostgreSQL
DB_NAME=seguimiento_escolar
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432